.grid {
    display: grid;
}   

.grid-flow-column {
    grid-auto-flow: column;
}

.grid-flow-column2 {
    grid-template-columns: 1fr 1fr;
   }

   .gap-16 {
    gap: 16px;
   }

   .gap-32{
    gap: 32px;
   }

   .text-gg {
    font: var(--h1);
   }

     .text-xl {
    font: var(--h2);
   }

     .text-lg {
    font: var(--h3);
   }

     .text-small {
    font: var(--h3);
   
   
    
   }